<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New calendar link</h1>

  <%= render "form", calendar_link: @calendar_link %>

  <%= link_to 'Back to calendar links', calendar_links_path, class: "ml-2 py-3 px-5 border border-black hover:bg-slate-200 inline-block font-medium" %>
</div>
