<div class="flex flex-col space-y-16">
  <h1 class="text-3xl font-bold">
    Your Recent Matches
  </h1>
  <ul class="flex flex-col ml-8 space-y-8">
    <% @user_matches.each do |match| %>
      <li class="border-2 border-black">
        <div class="flex flex-col space-y-4">
          <ul>
            <% match.other_members.each do |member| %>
              <li class="flex flex-row space-x-3 p-2">
                <img class="w-8 h-8" src="<%= member.avatar_url %>" />
                <span class="leading-8"><%= member.name %></span>
              </li>
            <% end %>
          </ul>
          <div class="flex flex-row justify-between">
            <span class="text-sm text-slate-500 m-1"><%= match.grouping.titleize %></span>
            <span class="text-sm text-slate-500 m-1"><%= match.matched_on.strftime("%b %d, %Y") %></span>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
